@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow-x: hidden;
}
:root {
	--clr-primary: #95725a;
	--clr-secondary: #5c4136;
	--clr-light: #fafafa;
	--clr-cream: #d6cece;
	--clr-black: #000;
	--clr-bg: #fff;
}

body {
	font-family: 'Poppins', sans-serif;
	width: 100vw;
	color: var(--clr-white);
	background: var(--clr-bg);
}

a {
	text-decoration: none;
}
li {
	list-style: none;
}
/*==========global=========*/

.heading {
	text-align: center;
	color: var(--clr-black);
	text-transform: uppercase;
	padding-bottom: 3.5rem;
	font-size: 4rem;
}
.heading span {
	color: var(--clr-primary);
	text-transform: uppercase;
}
.btn {
	margin-top: 1rem;
	display: inline-block;
	padding: 0.9rem 3rem;
	font-size: 1.6rem;
	color: var(--clr-white);
	cursor: pointer;
	background: var(--clr-primary);
	border-radius: 0.5rem;
}
.btn:hover {
	letter-spacing: 0.4rem;
}

/*==========navbar=========*/
hearder {
	position: relative;
}
.navbar {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	background-color: var(--clr-bg);
	padding: 0.8rem 0;
	margin-top: 4.5rem;
}
.navbar a {
	color: var(--clr-black);
}
.brand {
	position: absolute;
	left: 50%;
	margin-top: 1.8rem;
	transform: translateX(-50%);
}
.logo {
	margin-left: 2.9rem;
	cursor: pointer;
}
.bx-search {
	font-size: 1.5rem;
	margin-left: 4rem;
	color: var(--clr-black);
}
.bx-shopping-bag {
	font-size: 1.5rem;
	margin-right: 4rem;
	color: var(--clr-black);
}
.navbar img {
	width: 2rem;
}
.navbar .nav-link {
	display: flex;
	margin-right: 2.9rem;
	text-transform: uppercase;
	gap: 2.8rem;
	transition: 0.3s;
}
.navbar .nav-link li a:hover {
	padding: 0.5rem;
	background: var(--clr-primary);
	color: var(--clr-black);
	border-radius: 0.5rem;
}
#toggle,
.navbar label {
	display: none;
}
.bx-menu {
	font-size: 2rem;
	color: var(--clr-black);
}

/*================hero===============*/
.hero {
	width: 100%;
	height: 100vh;
	background: var(--clr-bg);
	display: flex;
}
.hero-container {
	width: 95%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: relative;
	background-color: var(--clr-bg);
}
.hero-img-text {
	width: 1250px;
	z-index: 1;
	position: absolute;
}

.hero-img {
	width: 800px;
	z-index: 2;
	position: absolute;
}

/*-------------social-icons-----------------*/
.social-icons {
	width: 5%;
	overflow: hidden;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	color: var(--clr-black);
	margin-top: 4rem;
}
.social-icons a {
	text-transform: uppercase;
	text-orientation: mixed;
	writing-mode: vertical-lr;
	color: var(--clr-black);
	font-size: 0.8rem;
	overflow: hidden;
}
.social-icons span {
	margin: 1rem 1rem;
	overflow: hidden;
}
/*==================product===================*/
.product {
	background-color: var(--clr-light);
}

.product .content {
	padding: 2rem;
	width: 100vw;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 2rem;
}
/*------------product-left-------------*/
.product-center {
	width: 21.875rem;
	height: 7.375rem;
	display: flex;
	align-items: center;
	justify-content: space-around;
	border-radius: 0.8rem;
	box-shadow: 0.4rem 0.4rem 0.4rem 0.4rem rgb(194, 188, 189);
	cursor: pointer;
	transition: 0.5s;
	overflow-y: hidden;
	color: var(--clr-black);
}
.product-center img {
	width: 6.25rem;
}
.product-center div {
	width: 0.2rem;
	background: rgb(216, 211, 211);
	height: 6.5rem;
}
.product-center:hover {
	background-color: var(--clr-primary);
	color: var(--clr-white);
}
/*------------product-left-------------*/
.product-right {
	width: 21.875rem;
	height: 7.375rem;
	display: flex;
	align-items: center;
	justify-content: space-around;
	border-radius: 0.8rem;
	box-shadow: 0.4rem 0.4rem 0.4rem 0.4rem rgb(194, 188, 189);
	cursor: pointer;
	transition: 0.5s;
	overflow-y: hidden;
	color: var(--clr-black);
}
.product-right img {
	width: 6.25rem;
}
.product-right div {
	width: 0.2rem;
	background: #ddd;
	height: 6.5rem;
}
.product-right:hover {
	background-color: var(--clr-primary);
	color: var(--clr-white);
}

/*==================media quary===================*/
@media (max-width: 991px) {
	body {
		width: 100%;
	}
	.menu {
		width: 100%;
		max-height: 0;
		overflow: hidden;
	}
	.nav-link {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 14.8rem;
		gap: 2rem;
	}
	.navbar label {
		display: inline-flex;
		align-items: center;
		cursor: pointer;
	}
	#toggle:checked ~ .menu {
		max-height: 100%;
	}
	.navbar {
		padding: 0;
	}
	.logo {
		margin: 0.6rem;
	}
	.bx-search {
		display: none;
	}
	.bx-shopping-bag {
		display: none;
	}

	/*--------hero--------*/
	.hero {
		display: block;
		width: 100%;
	}
	.hero-container {
		width: 100%;
	}
	.social-icons {
		display: none;
	}
	.hero-img-text {
		width: 100%;
	}
	.hero-img {
		width: 100%;
	}
	.product {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		width: 100%;
	}
}
